trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  IMAGE_NAME: hello-flask
  ACR_NAME: msanchiacr
  ACR_LOGIN_SERVER: msanchiacr.azurecr.io

steps:
- task: Docker@2
  displayName: Build and push image to ACR
  inputs:
    containerRegistry: 'msanchiacr-connection'
    repository: $(IMAGE_NAME)
    command: buildAndPush
    Dockerfile: Dockerfile
    tags: |
      $(Build.BuildId)
    arguments: --platform linux/amd64
