trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  IMAGE_NAME: hello-flask
  CONTAINER_NAME: hello-flask

  ACR_LOGIN_SERVER: msanchiacr.azurecr.io
  ACR_USERNAME: msanchiacr

  VM_USER: azureuser
  VM_HOST: 52.157.242.191

  HOST_PORT: "80"
  CONTAINER_PORT: "5001"

steps:
- checkout: self
  displayName: "Checkout source"

# 1) Login to ACR from the build agent
- script: |
    set -e
    echo "Login to ACR from pipeline agent..."
    echo "$(ACR_PASSWORD)" | docker login "$(ACR_LOGIN_SERVER)" -u "$(ACR_USERNAME)" --password-stdin
  displayName: "Docker login to ACR (agent)"

# 2) Build and Push image to ACR
- script: |
    set -e
    echo "Build image..."
    docker build -t "$(ACR_LOGIN_SERVER)/$(IMAGE_NAME):$(Build.BuildId)" .

    echo "Push image..."
    docker push "$(ACR_LOGIN_SERVER)/$(IMAGE_NAME):$(Build.BuildId)"
  displayName: "Build & Push image to ACR"

# 3) Download SSH key from Secure files
- task: DownloadSecureFile@1
  name: sshkey
  inputs:
    secureFile: vm-flask-devops_key.pem
  displayName: "Download VM SSH key"

# 4) SSH to VM and run container
- script: |
    set -e
    echo "Prepare SSH key permissions..."
    chmod 600 "$(sshkey.secureFilePath)"

    echo "Deploy on VM..."
    ssh -i "$(sshkey.secureFilePath)" -o StrictHostKeyChecking=no "$(VM_USER)@$(VM_HOST)" "
      set -e

      echo 'Login to ACR from VM...'
      echo \"$(ACR_PASSWORD)\" | sudo docker login \"$(ACR_LOGIN_SERVER)\" -u \"$(ACR_USERNAME)\" --password-stdin

      echo 'Pull new image...'
      sudo docker pull \"$(ACR_LOGIN_SERVER)/$(IMAGE_NAME):$(Build.BuildId)\"

      echo 'Remove old container if exists...'
      sudo docker rm -f \"$(CONTAINER_NAME)\" || true

      echo 'Run new container...'
      sudo docker run -d --name \"$(CONTAINER_NAME)\" \
        -p $(HOST_PORT):$(CONTAINER_PORT) \
        --restart unless-stopped \
        \"$(ACR_LOGIN_SERVER)/$(IMAGE_NAME):$(Build.BuildId)\"

      echo 'Containers now:'
      sudo docker ps

      echo 'Health check:'
      curl -s http://localhost/health || true
    "
  displayName: "Deploy to Azure VM (docker run)"
